body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.zodiacGraphic {
  float: right;
  width: 250px;
  border: 1px solid #333;
  border-radius: 15px;
  margin: 15px;
}

.zodiacSign {
  float: left;
  width: 36px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-right: 10px;
}
a{
  color: #00d1b2;    
}

.navbar-item img {
  max-height: 2rem;
}

a.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);  /* Overrides bulma default background color of white so when you hover on the logo, you can still see it */
}

a.navbar-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.hero.is-medium .hero-body {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.hero h1 {
  font-size: 44px;
}

.hero h1.title {
  color: #89789e;
}

.hero .subtitle {
  line-height: 1.6em;
}

/* STYLING IMAGE FROM NASA */

#imageBackground {
  border: 2px solid #666;
  line-height: 0;
  position: relative;
}  

#imageBackground:hover {
  border: 2px solid #00d1b2;
}

#iotd-caption {
  padding-top: 8px !important;
}

#iotd-source {
  font-style: italic;
  font-size: 12px;
}

#iotd-source a:hover {
  color: #fff; 
}

/* styling tiles */
.tile.is-child {
    background-color: rgba(255,255,255, 0.9);
}

#answer {
  font-size: 20px;
  background-color: #d5c0ec;
  padding:15px;
  text-align: center;
}

#retrograde {
  font-size: 20px;
  background-color: #d5c0ec;
  padding: 10px 20px 10px 20px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-top: 5px;
}

/* USED TO CENTER MERCURY RETROGRADE BUTTONS */
.isCentered {
  margin: 0 auto;
  text-align: center; 
  padding: 15px;
}

/* #searchDate {
  background-color: #00d1b2;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  box-shadow: #333 0px 2px 3px;
} */

/* #searchDate:hover {
  background-color: #d5c0ec;
  color: #333;
} */
/* 
#modalBtn {
  background-color: #00d1b2;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
  box-shadow: #333 0px 2px 3px;
} */

.modal-card-body p {
padding: .5em 0em .5em 0em;
}

/* #modalBtn:hover {
  background-color: #d5c0ec;
  color: #333;
} */


/* STYLING FOR THE ZODIAC BUTTONS */

.column {
  text-align: center; /* Set the zodiac signs to be centered inside the column containers */
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: -0.5rem;  /* Remove the excess margin spacing from the bottoms of the rows created by the bulma columns when stacked */
}

/* STYLING HEADER WITH ZODIAC SIGNS */
.header {
  background-color: #89789e;
  padding: 20px 0px 20px 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* STYLING FOR THE ZODIAC SIGN BUTTONS */

.zodiac-btn {
   width: 80px;  /* Sets the width of the zodiac sign buttons */
   height: 80px;  /* Sets the height of the zodiac sign buttons */
   font-family: 'Ubuntu', sans-serif;  /* Sets the font of the zodiac sign buttons */
   color: #333;  /* Sets the font color of the zodiac sign buttons */
   -webkit-border-radius: 30px;  /* Sets the border radius of the zodiac sign buttons in webkit browsers */
   -moz-border-radius: 30px;  /* Sets the border radius of the zodiac sign buttons in mozilla browsers */
   border-radius: 20px;  /* Sets the border radius of the zodiac sign buttons in other browsers*/
   border: 1px solid #999;  /* Sets the border styles the zodiac sign buttons */
   background-color: white;  /* Sets the background color of the zodiac sign buttons */
   cursor: pointer;  /* Sets the mouse pointer to change to the hand when hovering over the zodiac sign buttons */
   margin: 10px;
}

.zodiac-btn:hover {
   background-color: #d5c0ec;  /* Sets the background color of the zodiac buttons when moused over */
}

.zodiac-btn:focus {
  outline: none !important;  /* Removes the browser's default active focus border from the zodiac buttons */
  background-color: #d5c0ec;  /* Sets the background color of the zodiac button that is currently clicked */
}

.zodiac-btn img {
  margin: 3px;  /* Sets the margin around the outside of the zodiac sign inside the buttons */
  width: 50px;  /* Sets the width of the zodiac sign images inside the buttons */
  padding: 0px;  /* Sets the padding on the zodiac sign images inside the buttons */
  border: 2px solid #fff;  /* Sets the border around the zodiac sign images so that when you mouse over the button and the background changes, there's a white outline around the image to separate the zodiac sign color from the teal background of the button */
  border-radius: 25px;  /* Sets the border radius around the zodiac sign images to make a perfect circle outline around the zodiac sign images */
}

/* STYLING FOR THE GET ASTROLOGIZED TITLE */
.zodiac-title {
   text-align: center;  /* Sets the text alignment to center for the title words above the zodiac signs that says "Select Your Sign To Get Astrologized!" text */
   font-size: 35px;  /* Sets the font size of the zodiac signs title text */
   font-weight: bold;  /* Sets the font weight to bold for the zodiac signs title text */
   color: #333;  /* Sets the font color of the zodiac signs title */
   font-family: 'Ubuntu', sans-serif;  /* Sets the font family of the zodiac signs title */
   padding-bottom: 0px; /* Sets the padding below the zodiac signs title so it's not too close to the zodiac sign buttons */
   text-transform: uppercase;
}

#zodiac-subtitle {  /* ZODIAC SUBTITLE */ 
  text-align: center ! important;  /* Sets the text alignment to center for the subtitle words above the zodiac signs that says "Select Your Sign To Get Astrologized!" text */
  font-size: 20px;  /* Sets the font size of the zodiac signs subtitle text */
  font-weight: bold;  /* Sets the font weight to bold for the zodiac signs subtitle text */
  color: #333;  /* Sets the font color of the zodiac signs subtitle */
  font-family: 'Ubuntu', sans-serif;  /* Sets the font family of the zodiac signs subtitle */
  padding-top: 0px; 
  padding-bottom: 30px;  
  text-transform: uppercase; 
}

.zodiac-subtitle2 {
  text-align: center ! important; 
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  font-style: italic;
  /* padding-bottom: 30px !important;  */
  padding-top: 15px !important;  
  color: rgb(20, 20, 20);
}

.signDate {
  font-size: 12px;  /* Sets the font size of the zodiac signs title text */
  font-weight: bold;  /* Sets the font weight to bold for the zodiac signs title text */
  color: #333;  /* Sets the font color of the zodiac signs title */
  font-family: 'Ubuntu', sans-serif;  /* Sets the font family of the zodiac signs title */
  padding-top: 0px;  /* Sets the padding above the zodiac signs title so it's not too close to the zodiac sign buttons */

}

/* STYLING FOR THE ZODIAC SIGN NAMES BELOW THE IMAGES */
.zodiac-sign-name {  
   font-weight: bold;  /* Sets the font weight to bold for the zodiac sign text labels inside the buttons */
   font-size:10px;  /* Sets the font size of the zodiac signs text labels */
   margin: 0 auto;
}

/* STYLING FOR THE ZODIAC INFO CARDS */
.zodiac-info {
  padding-top: 20px;
  color: #333;
  font-size: 1em;
  text-align: center;
}

#tile-container {
padding-top: 25px;
background-image:url("https://wallpaperplay.com/walls/full/1/8/3/364649.jpg");
}

/* STYLING THE ZODIAC CAD SUBTITLES */

.zodiacTraitsTitle {
  font-weight: bold; 
  color: #89789e;
  text-transform: uppercase;
}
.zodiacSymbolTitle {
  font-weight: bold; 
  color: #89789e;
  text-transform: uppercase;
}
.zodiacVibeTitle {
  font-weight: bold;
  color: #89789e;
  text-transform: uppercase;
}
.zodiacMentalTitle {
  font-weight: bold;
  color: #89789e;
  text-transform: uppercase;
}


/* STYLING FOR IFRAME TAG */

iframe {
  height: 720px;
  width: 100%;
  position: relative;
  animation-name: easeIn;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  border-radius: 5px;
  /* opacity: 0%; */
}

@keyframes easeIn {
  from {top: -25px;}
  to {top: 5px;}
}

/* STYLING FOOTER */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  text-align:center;
  background-color: #89789e;
  font-size: 14px;
  color: #333;
 }
 
 footer a {
     color: rgb(0, 0, 0);
     font-weight: bold;
     font-style: italic;
 }
 
 footer a:hover {
     color: #efefef;
 }
 
 h1 {
     margin-right: 50px;
 }



/*  SCREEN SIZE MEDIA QUERIES TO CHANGE THE LAYOUT OF THE ZODIAC BUTTONS */

@media screen and (min-width: 1408px) {
  #zodiac-signs {
    max-width: 1344px;
  }
  #zodiac-signs-3-row {
    display: none;
  }
  #zodiac-signs-2-row {
    display: none;
  }
  #zodiac-signs-1-row {
    display: block;
  }
}

@media screen and (min-width: 1216px) and (max-width: 1408px) {
  #zodiac-signs {
    max-width: 860px;
  }
  #zodiac-signs-3-row {
    display: none;
  }
  #zodiac-signs-2-row {
    display: block;
  }
  #zodiac-signs-1-row {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1216px) {
  #zodiac-signs {
    max-width: 860px;
  }
  #zodiac-signs-3-row {
    display: none;
  }
  #zodiac-signs-2-row {
    display: block;
  }
  #zodiac-signs-1-row {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #zodiac-signs {
    max-width: 500px;
  }
  #zodiac-signs-3-row {
    display: block;
  } 
  #zodiac-signs-2-row {
    display: none;
  }
  #zodiac-signs-1-row {
    display: none;
  }
}
